section{
    padding: 60px 0;
}

@media (min-width: 880px) {
    .nav-title-font{
        font-size: 1.5em;
    }
}
@media (max-width:876px) {
    .h2-title{
        font-size: calc(1.325rem + 0.9vw) !important;
    }
}

.btn-altlight:hover{
    color: white;
    background-color: black;
}

.border{
    border-radius: var(--bs-border-radious-lg);
}

.bi-webSIcon>a:hover{
    color: black !important;
}
.bi-webSIconAlt>a:hover{
    color: white !important;
}
.pdfFix{
    h1{
        color: white;
        font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; 
    }
    p{font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; margin:0pt; }
}

.card-project{
    div{
        margin: .8rem 0;
    }
    li:hover{
        opacity: 80%;
    }
    li{
        width: 3rem;
    }
    
    
}